<a href="https://colab.research.google.com/github/Dedeepyamaddi/Data-Analytics/blob/main/Customer_Segmentation_Analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

# Load your dataset
df = pd.read_csv("/content/ifood_df.csv")  # Replace with your actual file name

# View top rows
print(df.head())

# View shape and column names
print("Shape:", df.shape)
print("Columns:", df.columns.tolist())

    Income  Kidhome  Teenhome  Recency  MntWines  MntFruits  MntMeatProducts  \
0  58138.0        0         0       58       635         88              546
1  46344.0        1         1       38        11          1                6
2  71613.0        0         0       26       426         49              127
3  26646.0        1         0       26        11          4               20
4  58293.0        1         0       94       173         43              118

   MntFishProducts  MntSweetProducts  MntGoldProds  ...  marital_Together  \
0              172                88            88  ...                 0
1                2                 1             6  ...                 0
2              111                21            42  ...                 1
3               10                 3             5  ...                 1
4               46                27            15  ...                 0

   marital_Widow  education_2n Cycle  education_Basic  education_Graduation  \
0              0                   0                0                     1
1              0                   0                0                     1
2              0                   0                0                     1
3              0                   0                0                     1
4              0                   0                0                     0

   education_Master  education_PhD  MntTotal  MntRegularProds  \
0                 0              0      1529             1441
1                 0              0        21               15
2                 0              0       734              692
3                 0              0        48               43
4                 0              1       407              392

   AcceptedCmpOverall
0                   0
1                   0
2                   0
3                   0
4                   0

[5 rows x 39 columns]
Shape: (2205, 39)
Columns: ['Income', 'Kidhome', 'Teenhome', 'Recency', 'MntWines', 'MntFruits', 'MntMeatProducts', 'MntFishProducts', 'MntSweetProducts', 'MntGoldProds', 'NumDealsPurchases', 'NumWebPurchases', 'NumCatalogPurchases', 'NumStorePurchases', 'NumWebVisitsMonth', 'AcceptedCmp3', 'AcceptedCmp4', 'AcceptedCmp5', 'AcceptedCmp1', 'AcceptedCmp2', 'Complain', 'Z_CostContact', 'Z_Revenue', 'Response', 'Age', 'Customer_Days', 'marital_Divorced', 'marital_Married', 'marital_Single', 'marital_Together', 'marital_Widow', 'education_2n Cycle', 'education_Basic', 'education_Graduation', 'education_Master', 'education_PhD', 'MntTotal', 'MntRegularProds', 'AcceptedCmpOverall']

In [ ]:
# Overview of data types and non-null counts
print(df.info())

# Descriptive statistics
print(df.describe())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2205 entries, 0 to 2204
Data columns (total 39 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Income                2205 non-null   float64
 1   Kidhome               2205 non-null   int64
 2   Teenhome              2205 non-null   int64
 3   Recency               2205 non-null   int64
 4   MntWines              2205 non-null   int64
 5   MntFruits             2205 non-null   int64
 6   MntMeatProducts       2205 non-null   int64
 7   MntFishProducts       2205 non-null   int64
 8   MntSweetProducts      2205 non-null   int64
 9   MntGoldProds          2205 non-null   int64
 10  NumDealsPurchases     2205 non-null   int64
 11  NumWebPurchases       2205 non-null   int64
 12  NumCatalogPurchases   2205 non-null   int64
 13  NumStorePurchases     2205 non-null   int64
 14  NumWebVisitsMonth     2205 non-null   int64
 15  AcceptedCmp3          2205 non-null   int64
 16  AcceptedCmp4          2205 non-null   int64
 17  AcceptedCmp5          2205 non-null   int64
 18  AcceptedCmp1          2205 non-null   int64
 19  AcceptedCmp2          2205 non-null   int64
 20  Complain              2205 non-null   int64
 21  Z_CostContact         2205 non-null   int64
 22  Z_Revenue             2205 non-null   int64
 23  Response              2205 non-null   int64
 24  Age                   2205 non-null   int64
 25  Customer_Days         2205 non-null   int64
 26  marital_Divorced      2205 non-null   int64
 27  marital_Married       2205 non-null   int64
 28  marital_Single        2205 non-null   int64
 29  marital_Together      2205 non-null   int64
 30  marital_Widow         2205 non-null   int64
 31  education_2n Cycle    2205 non-null   int64
 32  education_Basic       2205 non-null   int64
 33  education_Graduation  2205 non-null   int64
 34  education_Master      2205 non-null   int64
 35  education_PhD         2205 non-null   int64
 36  MntTotal              2205 non-null   int64
 37  MntRegularProds       2205 non-null   int64
 38  AcceptedCmpOverall    2205 non-null   int64
dtypes: float64(1), int64(38)
memory usage: 672.0 KB
None
              Income      Kidhome     Teenhome      Recency     MntWines  \
count    2205.000000  2205.000000  2205.000000  2205.000000  2205.000000
mean    51622.094785     0.442177     0.506576    49.009070   306.164626
std     20713.063826     0.537132     0.544380    28.932111   337.493839
min      1730.000000     0.000000     0.000000     0.000000     0.000000
25%     35196.000000     0.000000     0.000000    24.000000    24.000000
50%     51287.000000     0.000000     0.000000    49.000000   178.000000
75%     68281.000000     1.000000     1.000000    74.000000   507.000000
max    113734.000000     2.000000     2.000000    99.000000  1493.000000

         MntFruits  MntMeatProducts  MntFishProducts  MntSweetProducts  \
count  2205.000000      2205.000000      2205.000000       2205.000000
mean     26.403175       165.312018        37.756463         27.128345
std      39.784484       217.784507        54.824635         41.130468
min       0.000000         0.000000         0.000000          0.000000
25%       2.000000        16.000000         3.000000          1.000000
50%       8.000000        68.000000        12.000000          8.000000
75%      33.000000       232.000000        50.000000         34.000000
max     199.000000      1725.000000       259.000000        262.000000

       MntGoldProds  ...  marital_Together  marital_Widow  education_2n Cycle  \
count   2205.000000  ...       2205.000000    2205.000000         2205.000000
mean      44.057143  ...          0.257596       0.034467            0.089796
std       51.736211  ...          0.437410       0.182467            0.285954
min        0.000000  ...          0.000000       0.000000            0.000000
25%        9.000000  ...          0.000000       0.000000            0.000000
50%       25.000000  ...          0.000000       0.000000            0.000000
75%       56.000000  ...          1.000000       0.000000            0.000000
max      321.000000  ...          1.000000       1.000000            1.000000

       education_Basic  education_Graduation  education_Master  education_PhD  \
count      2205.000000           2205.000000       2205.000000    2205.000000
mean          0.024490              0.504762          0.165079       0.215873
std           0.154599              0.500091          0.371336       0.411520
min           0.000000              0.000000          0.000000       0.000000
25%           0.000000              0.000000          0.000000       0.000000
50%           0.000000              1.000000          0.000000       0.000000
75%           0.000000              1.000000          0.000000       0.000000
max           1.000000              1.000000          1.000000       1.000000

          MntTotal  MntRegularProds  AcceptedCmpOverall
count  2205.000000      2205.000000          2205.00000
mean    562.764626       518.707483             0.29932
std     575.936911       553.847248             0.68044
min       4.000000      -283.000000             0.00000
25%      56.000000        42.000000             0.00000
50%     343.000000       288.000000             0.00000
75%     964.000000       884.000000             0.00000
max    2491.000000      2458.000000             4.00000

[8 rows x 39 columns]

In [ ]:
# Missing values
missing = df.isnull().sum()
print("Missing values:\n", missing)

# Duplicates
duplicates = df.duplicated().sum()
print("Duplicate rows:", duplicates)

Missing values:
 Income                  0
Kidhome                 0
Teenhome                0
Recency                 0
MntWines                0
MntFruits               0
MntMeatProducts         0
MntFishProducts         0
MntSweetProducts        0
MntGoldProds            0
NumDealsPurchases       0
NumWebPurchases         0
NumCatalogPurchases     0
NumStorePurchases       0
NumWebVisitsMonth       0
AcceptedCmp3            0
AcceptedCmp4            0
AcceptedCmp5            0
AcceptedCmp1            0
AcceptedCmp2            0
Complain                0
Z_CostContact           0
Z_Revenue               0
Response                0
Age                     0
Customer_Days           0
marital_Divorced        0
marital_Married         0
marital_Single          0
marital_Together        0
marital_Widow           0
education_2n Cycle      0
education_Basic         0
education_Graduation    0
education_Master        0
education_PhD           0
MntTotal                0
MntRegularProds         0
AcceptedCmpOverall      0
dtype: int64
Duplicate rows: 184

In [ ]:
# Option 1: Drop rows with missing values
df_cleaned = df.dropna()

# Option 2: Fill missing values with median (for numerical data)
df_filled = df.fillna(df.median(numeric_only=True))

In [ ]:
df_cleaned = df_cleaned.drop_duplicates()

In [ ]:
# Example check
print(df_cleaned[(df_cleaned['Income'] < 0) | (df_cleaned['Income'] > 1_000_000)])

Empty DataFrame
Columns: [Income, Kidhome, Teenhome, Recency, MntWines, MntFruits, MntMeatProducts, MntFishProducts, MntSweetProducts, MntGoldProds, NumDealsPurchases, NumWebPurchases, NumCatalogPurchases, NumStorePurchases, NumWebVisitsMonth, AcceptedCmp3, AcceptedCmp4, AcceptedCmp5, AcceptedCmp1, AcceptedCmp2, Complain, Z_CostContact, Z_Revenue, Response, Age, Customer_Days, marital_Divorced, marital_Married, marital_Single, marital_Together, marital_Widow, education_2n Cycle, education_Basic, education_Graduation, education_Master, education_PhD, MntTotal, MntRegularProds, AcceptedCmpOverall]
Index: []

[0 rows x 39 columns]

In [ ]:
print(df_cleaned.info())
print(df_cleaned.describe())

<class 'pandas.core.frame.DataFrame'>
Index: 2021 entries, 0 to 2204
Data columns (total 39 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Income                2021 non-null   float64
 1   Kidhome               2021 non-null   int64
 2   Teenhome              2021 non-null   int64
 3   Recency               2021 non-null   int64
 4   MntWines              2021 non-null   int64
 5   MntFruits             2021 non-null   int64
 6   MntMeatProducts       2021 non-null   int64
 7   MntFishProducts       2021 non-null   int64
 8   MntSweetProducts      2021 non-null   int64
 9   MntGoldProds          2021 non-null   int64
 10  NumDealsPurchases     2021 non-null   int64
 11  NumWebPurchases       2021 non-null   int64
 12  NumCatalogPurchases   2021 non-null   int64
 13  NumStorePurchases     2021 non-null   int64
 14  NumWebVisitsMonth     2021 non-null   int64
 15  AcceptedCmp3          2021 non-null   int64
 16  AcceptedCmp4          2021 non-null   int64
 17  AcceptedCmp5          2021 non-null   int64
 18  AcceptedCmp1          2021 non-null   int64
 19  AcceptedCmp2          2021 non-null   int64
 20  Complain              2021 non-null   int64
 21  Z_CostContact         2021 non-null   int64
 22  Z_Revenue             2021 non-null   int64
 23  Response              2021 non-null   int64
 24  Age                   2021 non-null   int64
 25  Customer_Days         2021 non-null   int64
 26  marital_Divorced      2021 non-null   int64
 27  marital_Married       2021 non-null   int64
 28  marital_Single        2021 non-null   int64
 29  marital_Together      2021 non-null   int64
 30  marital_Widow         2021 non-null   int64
 31  education_2n Cycle    2021 non-null   int64
 32  education_Basic       2021 non-null   int64
 33  education_Graduation  2021 non-null   int64
 34  education_Master      2021 non-null   int64
 35  education_PhD         2021 non-null   int64
 36  MntTotal              2021 non-null   int64
 37  MntRegularProds       2021 non-null   int64
 38  AcceptedCmpOverall    2021 non-null   int64
dtypes: float64(1), int64(38)
memory usage: 631.6 KB
None
              Income      Kidhome     Teenhome      Recency     MntWines  \
count    2021.000000  2021.000000  2021.000000  2021.000000  2021.000000
mean    51687.258783     0.443345     0.509649    48.880752   306.492331
std     20713.046401     0.536196     0.546393    28.950917   337.603877
min      1730.000000     0.000000     0.000000     0.000000     0.000000
25%     35416.000000     0.000000     0.000000    24.000000    24.000000
50%     51412.000000     0.000000     0.000000    49.000000   178.000000
75%     68274.000000     1.000000     1.000000    74.000000   507.000000
max    113734.000000     2.000000     2.000000    99.000000  1493.000000

         MntFruits  MntMeatProducts  MntFishProducts  MntSweetProducts  \
count  2021.000000      2021.000000      2021.000000       2021.000000
mean     26.364671       166.059871        37.603662         27.268679
std      39.776518       219.869126        54.892196         41.575454
min       0.000000         0.000000         0.000000          0.000000
25%       2.000000        16.000000         3.000000          1.000000
50%       8.000000        68.000000        12.000000          8.000000
75%      33.000000       230.000000        50.000000         34.000000
max     199.000000      1725.000000       259.000000        262.000000

       MntGoldProds  ...  marital_Together  marital_Widow  education_2n Cycle  \
count   2021.000000  ...       2021.000000    2021.000000         2021.000000
mean      43.921821  ...          0.251856       0.034636            0.090549
std       51.678211  ...          0.434186       0.182902            0.287038
min        0.000000  ...          0.000000       0.000000            0.000000
25%        9.000000  ...          0.000000       0.000000            0.000000
50%       25.000000  ...          0.000000       0.000000            0.000000
75%       56.000000  ...          1.000000       0.000000            0.000000
max      321.000000  ...          1.000000       1.000000            1.000000

       education_Basic  education_Graduation  education_Master  education_PhD  \
count      2021.000000           2021.000000       2021.000000    2021.000000
mean          0.024245              0.502227          0.165760       0.217219
std           0.153848              0.500119          0.371957       0.412455
min           0.000000              0.000000          0.000000       0.000000
25%           0.000000              0.000000          0.000000       0.000000
50%           0.000000              1.000000          0.000000       0.000000
75%           0.000000              1.000000          0.000000       0.000000
max           1.000000              1.000000          1.000000       1.000000

          MntTotal  MntRegularProds  AcceptedCmpOverall
count  2021.000000      2021.000000         2021.000000
mean    563.789213       519.867392            0.302326
std     576.775749       554.797857            0.680812
min       4.000000      -283.000000            0.000000
25%      55.000000        42.000000            0.000000
50%     343.000000       288.000000            0.000000
75%     964.000000       883.000000            0.000000
max    2491.000000      2458.000000            4.000000

[8 rows x 39 columns]

In [ ]:
df['TotalSpend'] = df[['MntWines', 'MntFruits', 'MntMeatProducts',
                       'MntFishProducts', 'MntSweetProducts', 'MntGoldProds']].sum(axis=1)

avg_purchase_value = df['TotalSpend'].mean()
print("Average Purchase Value:", round(avg_purchase_value, 2))


purchase_frequency_est = df['Recency'].apply(lambda x: 1 if x <= 30 else (0.5 if x <= 90 else 0.1))
print("Estimated Purchase Frequency Score (0-1):")
print(purchase_frequency_est.value_counts())


avg_kidhome = df['Kidhome'].mean()
avg_teenhome = df['Teenhome'].mean()
print(f"Avg Kidhome: {avg_kidhome:.2f}, Avg Teenhome: {avg_teenhome:.2f}")


spending_cols = ['MntWines', 'MntFruits', 'MntMeatProducts',
                 'MntFishProducts', 'MntSweetProducts', 'MntGoldProds']

for col in spending_cols:
    print(f"\n📊 {col} Stats:")
    print(f"Mean: {df[col].mean():.2f}")
    print(f"Median: {df[col].median():.2f}")
    print(f"Mode: {df[col].mode().values[0]}")
    print(f"Standard Deviation: {df[col].std():.2f}")

Average Purchase Value: 606.82
Estimated Purchase Frequency Score (0-1):
Recency
0.5    1298
1.0     714
0.1     193
Name: count, dtype: int64
Avg Kidhome: 0.44, Avg Teenhome: 0.51

📊 MntWines Stats:
Mean: 306.16
Median: 178.00
Mode: 2
Standard Deviation: 337.49

📊 MntFruits Stats:
Mean: 26.40
Median: 8.00
Mode: 0
Standard Deviation: 39.78

📊 MntMeatProducts Stats:
Mean: 165.31
Median: 68.00
Mode: 7
Standard Deviation: 217.78

📊 MntFishProducts Stats:
Mean: 37.76
Median: 12.00
Mode: 0
Standard Deviation: 54.82

📊 MntSweetProducts Stats:
Mean: 27.13
Median: 8.00
Mode: 0
Standard Deviation: 41.13

📊 MntGoldProds Stats:
Mean: 44.06
Median: 25.00
Mode: 3
Standard Deviation: 51.74